<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">

    <!-- link to css -->
    <link rel="stylesheet" href="static\css\visual.css">

    <!-- Line Awesome -->
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <!-- chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.min.js"
        integrity="sha512-v3ygConQmvH0QehvQa6gSvTE2VdBZ6wkLOlmK7Mcy2mZ0ZF9saNbbk19QeaoTHdWIEiTlWmrwAL4hS8ElnGFbA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Dashboard</title>
</head>

<body>

    <input type="checkbox" id="nav-toggle">
    <!-- side bar -->

    <div class="sidebar">
        <!-- heading -->
        <div class="sidebar-brand">
            <h2><span class="las la-heartbeat"></span><span>Medicare.</span></h2>
        </div>

        <!-- sidebar menu -->
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="{{url_for('dashboard')}}"><span class="las la-igloo"></span><span>Dashboard</span></a>
                </li>

                <li>
                    <a href="{{url_for('home')}}"><span class="las la-home"></span><span>Home</span></a>
                </li>

                <li>
                    <a href="{{url_for('form')}}"><span class="las la-user-md"></span><span>Predict</span></a>
                </li>

                <li>
                    <a href="{{url_for('dashboard2')}}"><span
                            class="lar la-calendar-check"></span><span>Appointment</span></a>
                </li>

                <li>
                    <a href="" class="active"><span class="las la-chart-area"></span><span>Visualization</span></a>
                </li>

                <li>
                    <a href="{{url_for('contact')}}"><span class="lar la-address-book"></span><span>Contact</span></a>
                </li>

                <li>
                    <a href="{{url_for('logout')}}"><span class="lar la-address-book"></span><span>Logout</span></a>
                </li>
            </ul>
        </div>
    </div>

    <!-- main content -->

    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="las la-bars"></span>
                </label>

                Dashboard
            </h2>

            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="search hear" />
            </div>

            <div class="user-wrapper">
                <img src="static/img/user-image.jpg" alt="" width="40px" height="40px">
                <div>
                    <h4>{{ Name }}</h4>
                    <small>{{ Email }}</small>
                </div>
            </div>
        </header>

        <!-- main charts -->

        <h2 class="chartholder">Average BMI of Diabetes Patients</h2>
        <div class="chartCard">
            <div class="chartBox">
                <h2>Average BMI</h2>
                <canvas id="myChart1"></canvas>
            </div>
        </div>

        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>

        <!-- chart 1 -->

        <script>
            // setup 
            const data = {
                labels: ['NO-Diabetes', 'Diabetes-Type-1', 'Diabetes-Type-2'],
                datasets: [{
                    label: 'Average BMI of Diabetes Patients',
                    data: [27.742521162548, 30.7244655581948, 31.9440106376959],
                    backgroundColor: [
                        'rgba(255, 26, 104, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(0, 0, 0, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 26, 104, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(0, 0, 0, 1)'
                    ],
                    borderWidth: 1,

                },
                {
                    type: 'line',
                    label: 'Line Dataset',
                    data: [21, 25, 29],
                    fill: false,
                    borderColor: 'rgb(54, 162, 235)'
                },
                ]
            };

            // config 
            const config = {
                type: 'bar',
                data,
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            };

            // render init block
            const myChart1 = new Chart(
                document.getElementById('myChart1'),
                config
            );
        </script>

        <!-- chart 2 -->

        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js">
        </script>


        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


        <h2 class="chartholder"> Patients Age Category</h2>
        <div class="chartCard">
            <div class="chartBox">
                <h2>Age Category</h2>
                <canvas id="myChart3"></canvas>
            </div>
        </div>


        <script>
            const ctx = document.getElementById('myChart3');

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Age 1 - 34', 'Age 35 - 44', 'Age 45 - 54', 'Age 55 - 64', 'Age 65 - 74', 'Age 75 or Above'],
                    datasets: [{
                        label: 'Patients Age Category',
                        data: [24421, 29980, 46133, 64076, 55726, 33343],
                        backgroundColor: [
                            'rgba(255, 26, 104, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(0, 0, 0, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 26, 104, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(0, 0, 0, 1)'
                        ],
                        borderWidth: 1,
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>

        <!-- chart 3 -->

        <h2 class="chartholder"> Patients Age Category</h2>
        <div class="chartCard">
            <div class="chartBox">
                <h2>Age Category</h2>
                <canvas id="myChart4"></canvas>
            </div>
        </div>


        <script>
            const ctx2 = document.getElementById('myChart4');

            new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: ['Age 1 - 34', 'Age 35 - 44', 'Age 45 - 54', 'Age 55 - 64', 'Age 65 - 74', 'Age 75 or Above'],
                    datasets: [{
                        label: 'Patients Age Category',
                        data: [24421, 29980, 46133, 64076, 55726, 33343],
                        backgroundColor: [
                            'rgba(255, 26, 104, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(0, 0, 0, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 26, 104, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(0, 0, 0, 1)'
                        ],
                        borderWidth: 1,
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>

    </div>

</body>

</html>